* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

.section {
    width: 80%;
    margin: 50px auto;
    border: 3px solid grey;
}

.container {
    width: 80%;
    height: 100px;
    margin: 25px auto;
    padding: 0.5rem;
}

.container1 {
    border: 3px solid tomato;
}

.container2 {
    border: 3px solid green;
}

.container2 li:last-child {
    color: tomato;
}

.promises {
    border: 3px solid steelblue;
}

.container4 {
    height: 150px;
}

.container6 {
    height: 220px;
}